
@{
     ViewBag.Title = "List of Categories";
}

<h2>Furniture Categories</h2>
<p>You can search categories by <b>Name.</b></p>

<table id="Table" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category</th>
            <th>Description</th>            
        </tr>
    </thead>
    <tfoot style="display:table-header-group">
        <tr>
            <th class="searchable">Category</th> 
            <th></th>            
        </tr>
    </tfoot>
    <tbody class="table table-bordered"></tbody>
</table>

<link href="~/Scripts/datatables.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script>
        $(document).ready(function () {
            dataTable = $("#Table").DataTable({
                "ajax": {
                    "url": "/Categories/GetData/",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "Category" },
                    { "data": "Description" }                    
                ],
                "language": {
                    "emptyTable": "No data found"
                },
                "responsive": true,
                "dom": 'lrtip'
            });

            $('.searchable').each(function () {
                var title = $('#Table thead th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" size="14"/>')
            });

            dataTable.columns().every(function () {
                var datatableColumn = this;

                $(this.footer()).find('input').on('keyup change', function () {
                    datatableColumn.search(this.value).draw();
                });
            })
        });
    </script>
}