
@{
    ViewBag.Title = "Order Completed";
}

<h2>Your order has been submited.</h2>
<p>Thank you for purchasing our products!</p>

<p>
    @Html.ActionLink("Back to List", "Index", "Furnitures")
</p>

